apiVersion: batch/v1
kind: CronJob
metadata:
  name: es-snapshot-all
  namespace: es-serverless
spec:
  schedule: "0 3 * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: curl
              image: curlimages/curl:8.9.1
              env:
                - name: ES_HOST
                  value: http://elasticsearch:9200
              command: ["sh","-c"]
              args:
                - |
                  SNAP_NAME=snap-$(date +%F-%H%M)
                  curl -s -X PUT "$ES_HOST/_snapshot/es-backups/$SNAP_NAME" \
                    -H "Content-Type: application/json" \
                    -d '{"indices":"_all","include_global_state":true}'
