services:
  elasticsearch:
    build:
      context: ..
      dockerfile: docker/elasticsearch/Dockerfile
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es-data:/usr/share/elasticsearch/data
    restart: unless-stopped

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: es_minio
      MINIO_ROOT_PASSWORD: es_minio_P@ssw0rd_2025_11_28
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: unless-stopped

  mc:
    image: minio/mc:latest
    container_name: minio-mc
    depends_on:
      - minio
    environment:
      MINIO_ROOT_USER: es_minio
      MINIO_ROOT_PASSWORD: es_minio_P@ssw0rd_2025_11_28
    entrypoint: ["/bin/sh","-c"]
    command: |
      mc alias set local http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD && \
      mc mb -p local/es-backups || true
    restart: "no"

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: es_metadata
      POSTGRES_USER: es_user
      POSTGRES_PASSWORD: es_password_2025
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped

volumes:
  es-data:
  minio-data:
  postgres-data:
