apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: es-serverless
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:8.15.3
          env:
            - name: ELASTICSEARCH_HOSTS
              value: http://elasticsearch.es-serverless.svc.cluster.local:9200
          ports:
            - containerPort: 5601
              name: http
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
