apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-headless
  namespace: es-serverless
spec:
  clusterIP: None
  selector:
    app: elasticsearch
  ports:
    - name: transport
      port: 9300
      targetPort: transport
