apiVersion: apps/v1
kind: Deployment
metadata:
  name: custom-metrics-adapter
  namespace: es-serverless
spec:
  replicas: 1
  selector:
    matchLabels:
      app: custom-metrics-adapter
  template:
    metadata:
      labels:
        app: custom-metrics-adapter
    spec:
      containers:
        - name: custom-metrics-adapter
          image: directxman12/k8s-prometheus-adapter-amd64
          args:
            - --secure-port=6443
            - --logtostderr=true
            - --prometheus-url=http://prometheus-service:9090
            - --metrics-relist-interval=1m
            - --v=4
          ports:
            - containerPort: 6443
              name: https
          volumeMounts:
            - name: config
              mountPath: /etc/adapter
      volumes:
        - name: config
          configMap:
            name: custom-metrics-config
---
apiVersion: v1
kind: Service
metadata:
  name: custom-metrics-adapter
  namespace: es-serverless
spec:
  selector:
    app: custom-metrics-adapter
  ports:
    - port: 443
      targetPort: 6443
  type: ClusterIP
---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.custom.metrics.k8s.io
spec:
  service:
    name: custom-metrics-adapter
    namespace: es-serverless
  group: custom.metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  groupPriorityMinimum: 100
  versionPriority: 100