apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-metrics-config
  namespace: es-serverless
data:
  config.yaml: |
    rules:
    - seriesQuery: 'elasticsearch_indices_docs{namespace!="",index!=""}'
      resources:
        overrides:
          namespace: {resource: "namespace"}
          index: {resource: "index"}
      name:
        matches: "elasticsearch_indices_docs"
        as: "elasticsearch_docs_count"
      metricsQuery: 'elasticsearch_indices_docs{<<.LabelMatchers>>}'